{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              {%for document in document %}
              <h3 class="mb-0">{{ document.heading }}</h3>
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            {%for document in document %}
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Content</label>
                    <p></p>
                    <textfield>{{document.content}}</textfield>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Tags</label>
                    <textfield>
                      <p></p>
                      {%for tag in document.tags.all%}
                      {{tag.content}}
                      {%endfor%}
                    </textfield>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Business Unit</label>
                    <textfield>
                      <p></p>
                      {%for bu in document.business_unit.all%}
                      {{bu.name}}
                      {%endfor%}</textfield>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </form>

        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
